<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Загрузчик файлов</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style/style.css"/>
    <script>
        function hideElement(element, ok) {
            element.setAttribute('hidden', !!ok);
        };

        function buttonFiles() {
            hideElement(main, true);
            httpClient('/files', 'GET');
            hideElement(files, false);
        };

        function buttonMain() {
            hideElement(files, true);
            resetFormState();
            hideElement(main, false);
        };
    </script>
</head>
<body>
<div id="content">
    <section id="app">
        <div id="main">
            <h1>Загрузчик файлов</h1>
            <div id="dropArea">
                <p>
                    <br><br><br><br>Перетащите файл в выделенную зону<br><br><br><br>
                </p>
            </div>
            <form>
                <input name="file" multiple type="file"
                       accept="text/csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                <button type="submit" disabled>Загрузить</button>
            </form>

            <progress value="0" max="100"></progress>
            <p>
                <strong>Статус загрузки:</strong>
                <span id="statusMessage">🤷‍♂ Пока нет загруженных файлов</span>
            </p>

            <p>
                <strong>Загружено файлов:</strong>
                <span id="fileNum">0</span>
            </p>

            <ul id="fileListMetadata"></ul>
        </div>
        <div id="files" hidden="true">
            <h1 class="center">Страница управления файлами</h1>
            <strong>Файл | Создан | Cтрок | Статус &#128998; / &#11036; </strong>
            <ul id="remoteFiles"></ul>
        </div>
    </section>
</div>
<div id="button">
    <button class="tappable block" onclick="buttonMain();">Загрузка файлов</button>
    <button class="tappable block" onclick="buttonFiles()">Управление</button>
</div>
</body>
<script src="/static/js/uploader.js"></script>
</html>