<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Загрузчик файлов</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/static/js/handler.js"></script>
    <script>
        var store = {
          files: {},
        };

        app_pages = {
            main:  {},
            files: {},
        }

        window.addEventListener("load", (event) => {
                app.run('main');
                loadUploader();
        });

        function loadUploader() {
            var script = document.createElement('script');
            script.src = '/static/js/uploader.js';
            document.body.appendChild(script);
        }

        document.addEventListener('DOMContentLoaded', function () {

        app = new handler({
          store: store,
          container: "#app",
          pages: app_pages,
          url: window.location.origin + window.location.pathname
        });

        Handlebars.registerHelper("incremented", function (index) {
            return index + 1;
        });

        app.addHandler("main", (data)=> {
            app.go("main");
        })

        app.addHandler("files", (data)=> {
            app.store.files = data;
            app.go('files');
            var remoteFiles = document.getElementById("remoteFiles");
            console.log(data)
            renderFilesResponse(data);
        });
    });

    function httpGetFiles(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.responseType = 'json';
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200)
                callback.run('files', xhr.response);
        }
        xhr.open("GET", url, true); // true for asynchronous
        xhr.send();
    };
    </script>
</head>
<body>
<div id="content">
    <section id="app">
        Загружаем
    </section>
</div>

<template id="main">
    <h1>Загрузчик файлов</h1>
    <div id="dropArea">
        <p>
            <br><br><br><br>Перетащите файл в выделенную зону<br><br><br><br>
        </p>
    </div>
    <form>
        <input name="file" multiple type="file"
               accept="text/csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
        <button type="submit" disabled>Загрузить</button>
    </form>

    <progress value="0" max="100"></progress>
    <p>
        <strong>Статус загрузки:</strong>
        <span id="statusMessage">🤷‍♂ Пока нет загруженных файлов</span>
    </p>

    <p>
        <strong>Загружено файлов:</strong>
        <span id="fileNum">0</span>
    </p>

    <ul id="fileListMetadata"></ul>
</template>


<template id="files">
    <h1 class="center">Страница управления файлами</h1>
    <ul>
        <strong>Файл | </strong>
        <strong>Создан | </strong>
        <strong>Cтрок | </strong>
        <strong>Статус </strong>
    </ul>
    <ul id="remoteFiles"></ul>
</template>

<div id="button">
    <button id="go_main" class="tappable block" onclick="app.run('main')">Загрузка файлов</button>
    <button id="go_files" class="tappable block"
            onclick="httpGetFiles(window.location.origin + '/files', app)">Управление
    </button>
</div>

<script>
    const button_main = document.getElementById('go_main');
    button_main.addEventListener('click', function(){ loadUploader();}, false);
</script>
</body>
</html>