html {
  padding: 50px 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #111;
}

ul {
  list-style-type: none;
  width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

ul li {
  text-align: left;
  display: flex;
  justify-content: space-between;
  position: relative;
  line-height: 1.4em;
  margin: 15px 0;
  gap: 20px;
}

ul li p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul li::before {
  content: "📁";
  position: absolute;
  left: -21px;
  top: 1px;
}

progress {
  width: 300px;
  margin: 20px 0 0;
}

#dropArea.highlight {
  border-color: #007aff;
}

#app {
  background: #fff;
  padding: 20px 30px;
  border-radius: 15px;
  width: 820px;
  margin: 0 auto;
  text-align: center;
}

#button {
  background: #fff;
  padding: 20px 30px;
  border-radius: 15px;
  width: 820px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

#dropArea {
  margin: 0 auto;
  border: 2px dashed transparent;
  background: #fff;
  border-radius: 15px;
  width: 600px;
  padding: 30px 20px 30px;

  background: radial-gradient(
      100% 400% at 100% 50%,
      #fff 0%,
      rgb(150, 173, 255) 40%,
      rgb(150, 173, 255) 80%
    )
    right 0% / 400% 100% no-repeat;
}

.bold {
  font-weight: bold;
  text-transform: uppercase;
}

.tappable {
    background-color: #0076FE;
    color: #fff;
    padding: 1em;
}

.alert {
    background-color: #F3F3F3;
    padding: .75em .5em;
    border-radius: 8px;
}

.mb { margin-bottom: 2rem;}


.block {
    display: block;
    width: 30%;
}
input[type="file"]::file-selector-button {
  margin: 0 20px 10px 0;
}

input[type="file"] {
  color: #999;
  width: 250px;
}

button,
input[type="file"] {
  display: block;
  margin: 20px auto;
  font-size: 16px;
}

button:disabled,
button:disabled:hover {
  background: #ddd;
  border-color: #777;
  color: #313131;
  color: #fff;
  cursor: auto;
}

button,
input[type="file"]::file-selector-button {
  padding: 8px 16px;
  background: #000;
  background-color: #0076FE;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #000;
  color: #fff;
}

button:hover,
input[type="file"]::file-selector-button:hover {
  background: #313131;
  transition: all 0.2s ease;
}
